.App {
  text-align: center;
  background-color: #331b1b;
  color: #929ea4;
}

.App-header {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* An optional height of the navbar AFTER scroll */
.navbar.navbar-scroll.navbar-scrolled {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar{
  display:flex;
}

.container{
  margin: 35.15px auto 0px; 
  /* display: block; */
}

.navbar-logo>img{
  float: left;
  width: 120px;
  opacity:0.7;
}

.ul{
  list-style: none;
}

li{
  color:#929ea4;
  font-size: 18px;
}